.main {
  margin: 16px;
  border-radius: 12px;

  section {
    background-color: #fff;
    padding: 24px;
    border-radius: 12px;
  }

  h1 {
    font-size: 24px;
    line-height: 150%;
    color: #333333;
  }

  p:not(.success, .error) {
    line-height: 150%;
    color: #737373;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 40px;

  div {
    padding: 20px;
    background-color: #fafafa;

    p {
      line-height: 150%;
      color: #737373;

      &:last-child {
        font-size: 12px;
      }
    }

    img {
      margin-top: 16px;
      border-radius: 12px;
      cursor: pointer;
      margin-inline: auto;
      margin-bottom: 12px;
    }
  }

  hr {
    border: 1px solid #d9d9d9;
  }

  button:not(.removeAvatar) {
    background-color: #633cff;
    color: #fff;
    padding: 11px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    font-weight: 600;
    line-height: 150%;
    &:disabled {
      background-color: #d9d9d9;
      cursor: not-allowed;
    }
  }
}

.formInputs {
  label {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 12px;
    line-height: 150%;
    color: #333333;

    input {
      border: 1px solid #d9d9d9;
      padding: 12px 16px;
      border-radius: 8px;
      outline: none;
    }
  }
  label {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}

.removeAvatar {
  background-color: #ff5050;
  border: none;
  cursor: pointer;
  color: #fff;
  padding: 11px;
  border-radius: 8px;
  font-weight: 600;
  line-height: 150%;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  justify-content: center;
  width: 150px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.deleteModal {
  position: fixed;
  inset: 0;
  background-color: #00000080 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deleteModalContent {
  background-color: #fff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: center;
}

.deleteModalButtons {
  display: flex;
  gap: 16px;
  width: 100%;
  justify-content: end;
  padding: 0 !important;
  margin-top: 12px;
  button {
    border: none;
    cursor: pointer;
    padding: 8px 12px !important;
    border-radius: 8px;
    color: #fff;
    font-size: 14px;
  }
  button:first-child {
    background-color: #633cff;
  }
  button:last-child {
    background-color: #ff5050;
  }
}

.success {
  color: #008000;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
}

.error {
  color: #ff5050;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
}

.linksPreview {
  display: none;
}

@media screen and (min-width: 768px) {
  .avatarDiv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }
}

@media screen and (min-width: 1440px) {
  .main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    max-width: 1440px;
    margin-inline: auto;
    margin-top: 24px;
    gap: 24px;
  }

  .linksPreview {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
