:root {
  --purple: #633cff;
  --dGray: #333333;
  --gray: #737373;
  --lGray: #d9d9d9;
  --lightestGray: #fafafa;
  --red: #ff3939;
  --lilac: #efebff;
}

body {
  background-color: #fafafa;
}

.purple-bg {
  background-color: var(--purple);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 357px;
  z-index: -99;
  border-radius: 0 0 32px 32px;
  display: none;
}

@media screen and (min-width: 768px) {
  .purple-bg {
    display: block;
  }
}
